@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #e6e6e6;
	direction: rtl;
}

html,
body,
button {
	font-family: IranYekan, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue,
		sans-serif;
}
